node_modules
service/.env
vendor
service/npm-debug.log
npm-debug.log
composer.lock
client/optionScrapper
client/ryanUtils
.elasticbeanstalk/

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
