option_settings:
   - namespace: aws:elasticbeanstalk:application:environment
     option_name: APP_ENV
     value: production
   - option_name: APP_DEBUG
     value: true
   - option_name: APP_KEY
     value: ec11a2c4-c532-404d-946f-e2676ae4a7a9
   - option_name: APP_LOCALE
     value: en
   - option_name: APP_FALLBACK_LOCALE
     value: en
   - option_name: CACHE_DRIVER
     value: array
   - option_name: SESSION_DRIVER
     value: array
   - option_name: QUEUE_DRIVER
     value: database
