commands:
   01-updateComposer:
      command: export COMPOSER_HOME=/root && /usr/bin/composer.phar self-update
   03-install-node:
      command: "yum -y install nodejs npm --enablerepo=epel"

option_settings:
   - namespace: aws:elasticbeanstalk:application:environment
     option_name: COMPOSER_HOME
     value: /root

container_commands:
   01-client-npm:
      command: "npm set registry https://registry.npmjs.org/ && cd /var/app/ondeck/client && npm install || true && npm install"
   02-install-packages:
      command: "/usr/bin/composer.phar install --working-dir /var/app/ondeck/service --no-dev --optimize-autoloader --prefer-dist --no-interaction"
   03-make-env:
      command: "cp /var/app/ondeck/service/.env-ci /var/app/ondeck/service/.env"
   04-migrateSeed:
      command: "cd /var/app/ondeck/service && php artisan migrate"
   05-seed:
      command: "cd /var/app/ondeck/service && php artisan db:seed"
   06-client-webpack:
      command: "cd /var/app/ondeck/client && ./node_modules/webpack/bin/webpack.js"
   07-reorg-1:
      command: "mv /var/app/ondeck/client /var/app/ondeck/service/public/."
   08-reorg-2:
      command: "mv /var/app/ondeck/service/* /var/app/ondeck/."
   09-reorg-3:
      command: "rm -fr /var/app/ondeck/service"
